html {
  background-image: url(https://wallpapercave.com/wp/wp3425540.jpg);
}


body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 5vw;
  
}

 section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0;
   
} 


section div {
  border: solid 2px #ee97d7;
  border-radius:20px;
  margin: 4px;
}



#advice {
  height: 300px;
  width: 60vw;
  margin-left: 10px;
  font-size: x-large;
}

#title {
  width: 55px;
}

#fall #classes {
  background-color: rgb(139, 251, 197);
}

#fall #advice {
  background-color: rgb(139, 251, 197);
}

#spring #advice {
  background-color: rgb(160, 233, 246);
}

#spring #classes {
  background-color: rgb(160, 233, 246);
}

#classes {
  
  font-size: x-large;
  width: 18vw;
}

#fall {
  
}



@media screen and (max-width: 1240px) {
  #classes {
    width: 100vw;
  }

  #advice {
    /* position: initial; */
    width: 100vw;
    height: fit-content;
    
  }
}

@media screen and (max-width: 800px) {

} 
