/* html {
  background-image: url ("../images/cherryBlossom.jpg"); 
  /* this as the url works: https://wallpapercave.com/wp/wp3425540.jpg */
 


body {
  background-color: #fff1d2;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif
}


header {
  margin: 0;
  padding: 1vw 1vw;
  background-color: #dce4ef;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  padding: 0 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0;
   
} 


section div {
  border: solid 2px #ee97d7;
  border-radius:20px;
  margin: 4px;
  
}


.advice {
  height: 300px;
  width: 60vw;
  margin-left: 10px;
  font-size: x-large;
  padding: 10px;
}

title {
  width: 55px;
}

#fall .classes {
  background-color: #c8edbf;
}

#fall .advice {
  background-color: #c8edbf;
}

#spring .advice {
  background-color: rgb(160, 233, 246);
}

#spring .classes {
  background-color: rgb(160, 233, 246);
}

.classes {
  
  font-size: x-large;
  width: 18vw;
  padding: 15px
}



@media screen and (max-width: 1260px) {
  #classes {
    width: 100vw;
  }

  #advice {
    width: 100vw;
    height: fit-content;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}



@media screen and (max-width: 800px) {
  #classes {
    width: 100vw;
  }

  .advice {
    position: initial;
    width: 100vw;
    height: fit-content;
  }
}