html {
  background-image: url(https://wallpapercave.com/wp/wp5378701.jpg);
}


body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 4vw;
  
}

 section {
  display: flex;
  flex-wrap: wrap;
  top: 0;
} 


#advice {
  
  width: 400px;
  margin-left: 10px;
  font-size: x-large;
}

#classes {
  
  font-size: x-large;
  width: 300px;
}

section#fall {
  background-color: palegreen;
}

section#spring {
  background-color: rgb(160, 233, 246);
}

@media screen and (max-width: 1240px) {
  section div#classes {
    max-width: 95vw;
  }

  div#advice {
    position: initial;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  figure {
    margin: 0;
    width: 100vw;
  }
} 
