html {
  background-image: url(https://wallpapercave.com/wp/wp3425540.jpg);
}


body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 5vw;
  
}

 section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0;
} 


#advice {
  height: 300px;
  width: 700px;
  margin-left: 10px;
  font-size: x-large;
}

#title {
  width: 55px;
}

#classes {
  
  font-size: x-large;
  width: 300px;
}

#fall {
  background-color: palegreen;
}

#spring {
  background-color: rgb(160, 233, 246);
}

@media screen and (max-width: 1240px) {
  body {
    max-width: 95vw;
  }
  
  /* #classes {
    max-width: 200px;
  }

  #advice {
    position: initial;
    width: 400px;
  } */
}

@media screen and (max-width: 800px) {
  #classes {
    width: 100vw;
  }

  #advice {
    /* position: initial; */
    width: 100vw;
    height: fit-content;
    
  }
} 
